.t_record{
  li.line{
    div{
      width:32%;
      text-align: center;
    }
  }
  &.hide{
    .line{
      display: none;
    }
    .title{
      border-radius: 8px 8px 8px 8px !important;
    }
  }
}