section.message{
  ul {
    li {
      height:unset!important;
      line-height: unset!important;
      div.box{
        p{
          white-space: unset!important;
          text-overflow: unset!important;
          line-height: 1.5 !important;
        }
      }
    }
  }
} 